.carousel-container{
    position: relative;
    margin: auto;
    text-align: center;
    max-width: 1013px;
    min-width: 1013px;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(199,199,199,1);
    -moz-box-shadow: 0px 0px 15px 1px rgba(199,199,199,1);
    box-shadow: 0px 0px 15px 1px rgba(199,199,199,1);
}

.content{
    padding: 25px;
    text-align: justify;
    position: relative;
}

.content-title{
    margin-bottom: 5px;
}

.carousel-content{
    display: flex;
}


.carousel-container img.image-active{
    max-width: 40%;
    min-width: 40%;
    max-height: 100%;
    min-height: 100%;
}

.carousel-dot-container{
    position:relative;
    justify-content: center;
    padding: 0;
    text-align: center;
    margin: auto;
    margin-top: 0.5rem;

    .dot{
        cursor: pointer;
        height: 8px;
        width: 8px;
        margin: 0 5px;
        background-color: rgb(110, 110, 110);
        border-radius: 50%;
        display: inline-block;
        transition: opacity 0.6s ease;
        opacity: 0.5;
    }

    .active, .dot:hover{
        opacity: 1;
    }
}

.underline-decoration{
    background-color: yellow;
    padding: 2px;
    width: 10%;
}

.underline-decoration-bottom{
    background-color: yellow;
    height: 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}