.carousel-container{
    position: relative;
    max-height: calc(50%);
    margin: auto;
    text-align: center;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(199,199,199,1);
    -moz-box-shadow: 0px 0px 15px 1px rgba(199,199,199,1);
    box-shadow: 0px 0px 15px 1px rgba(199,199,199,1);
}

.content{
    padding: 4%;
    text-align: justify;
    position: relative;
    // max-height: 250px;
}

.content-title{
    margin-bottom: 5px;
}

.content-desc{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.carousel-content{
    display: flex;
    max-height: 300px;
    
}

.carousel-container img.image-active{
    max-width: 40%;
    min-width: 40%;
}

.carousel-dot-container{
    position:relative;
    justify-content: center;
    padding: 0;
    text-align: center;
    margin: auto;
    margin-top: 0.5rem;

    .dot{
        cursor: pointer;
        height: 8px;
        width: 8px;
        margin: 0 5px;
        background-color: rgb(110, 110, 110);
        border-radius: 50%;
        display: inline-block;
        transition: opacity 0.6s ease;
        opacity: 0.5;
    }

    .active, .dot:hover{
        opacity: 1;
    }
}

.underline-decoration{
    background-color: #FFCC11;
    padding: 0.3%;
    width: 10%;
}

.underline-decoration-bottom{
    background-color: #FFCC11;
    height: 3%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}