<div *ngIf="images && images.length" 
    class="carousel-container">
    <div class="carousel-content">
        <img  
        [src]="images[selectedIndex].imageSrc" [alt]="images[selectedIndex].imageAlt"
        [ngClass]="{'image-active': selectedIndex === selectedIndex}"
        >
        <div class="content">
        <strong>
            <p class="content-title">{{content[selectedIndex].title}}</p>
        </strong>
        <p class="content-desc">{{content[selectedIndex].desc}}</p>
        </div>
    </div>
</div>
<div class="carousel-dot-container">
    <span
    *ngFor="let dot of images;let i = index "
    class="dot"
    [ngClass]="{'active': selectedIndex === i}"
    (click)="selectedImage(i)"
    >
</span>
</div>